@font-face {
    font-family: poppins-black;
    src: url(./Poppins-Black.ttf);
}
@font-face {
    font-family: poppins-bold;
    src: url(./Poppins-Bold.ttf);
}
@font-face {
    font-family: poppins-medium;
    src: url(./Poppins-Medium.ttf);
}
@font-face {
    font-family: poppins-regular;
    src: url(./Poppins-Regular.ttf);
}
@font-face {
    font-family: poppins-thin;
    src: url(./Poppins-Thin.ttf);
}